{{ partial "mobile.html" .}}

<div id="left-sidebar" class="left-sidebar show">
  <a aria-label="{{ .Site.Title }} logo" class="navbar-brand" href="{{ .Site.BaseURL }}">
    {{ partial "logo" }}
  </a>

  <hr />

  <div id="navTitle" class="title">
    <p class="mb-0 large">{{ .Site.Params.reportTitle }}</p>
    <p class="mb-0 large">{{ .Site.Params.reportSubtitle }}</p>
  </div>

  <hr />

  <button id="theme-toggle" class="themetoggle" aria-label="Toggle Dark Theme">
    <span class="moon" aria-hidden="true">{{ partial "fontawesome.html" "regular/moon" }}</span> <span class="sun" aria-hidden="true">{{ partial "fontawesome.html" "regular/sun-bright" }}</span><span class="hidden-text moon">Dark Theme</span><span class="hidden-text sun">Light Theme</span>
  </button>

  <button id="toc-toggle" class="toctoggle" aria-label="Collapse Table of Contents">
    <span class="close" aria-hidden="true">{{ partial "fontawesome.html" "solid/arrow-left-to-line" }}</span> <span class="open" aria-hidden="true">{{ partial "fontawesome.html" "solid/arrow-right-from-line" }}</span> <span class="hidden-text">Collapse Table
    of Contents</span>
  </button>

  <script>
    let theme = localStorage.getItem("data-theme");
    const themeToggle = document.querySelector("#theme-toggle");
    const mobileToggle = document.querySelector("#mobile-toggle");

    const changeThemeToDark = () => {
      document.documentElement.setAttribute("data-theme", "dark");
      localStorage.setItem("data-theme", "dark");
    };

    const changeThemeToLight = () => {
      document.documentElement.setAttribute("data-theme", "light");
      localStorage.setItem("data-theme", "light");
    };

    if (theme === "dark") {
      changeThemeToDark();
    }

    themeToggle.addEventListener("click", () => {
      let theme = localStorage.getItem("data-theme");
      if (theme === "dark") {
        changeThemeToLight();
      } else {
        changeThemeToDark();
      }
    });

    mobileToggle.addEventListener("click", () => {
      let theme = localStorage.getItem("data-theme");
      if (theme === "dark") {
        changeThemeToLight();
      } else {
        changeThemeToDark();
      }
    });
  </script>

  {{ partial "menu.html" . }}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    const showNavbar = (toggleId, sidebarId, navId, navTitle, bodyId, logoClass) => {
      const toggle = document.getElementById(toggleId),
        sidebar = document.getElementById(sidebarId),
        nav = document.getElementById(navId),
        title = document.getElementById(navTitle),
        bodypd = document.getElementById(bodyId),
        logo = document.querySelector(logoClass);

      // Validate that all variables exist
      if (toggle && sidebar && nav && title && bodypd && logo ) {
        toggle.addEventListener("click", () => {
          // show navbar
          nav.classList.toggle("d-none");
          // show title
          title.classList.toggle("invisible");
          // show navbar
          sidebar.classList.toggle("show");
          // change icon
          toggle.classList.toggle("bx-x");
          // add padding to body
          bodypd.classList.toggle("body-pd");
          //hide logo on toggle
          logo.classList.toggle("d-none");
        });
      }
    };

    showNavbar("toc-toggle", "left-sidebar", "nav-bar", "navTitle", "body-pd", ".navbar-brand");

    // const linkColor = document.querySelectorAll(".nav_link");

    // function colorLink() {
    //   if (linkColor) {
    //     linkColor.forEach((l) => l.classList.remove("active"));
    //     this.classList.add("active");
    //   }
    // }
    // linkColor.forEach((l) => l.addEventListener("click", colorLink));
  });
</script>
