{{ define "main" }}
<main class="container-fluid">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-7 col-md-12 col-12 py-5">
                <article class="post-content text-muted pt-4 pb-5">
                    Published on April 21, 2022, AppleCensorship's report “Taken Down: A Look into Apple's Transparency Reports”, exposes how Apple carefully engineered its Transparency Reports to conceal as much information as possible on app removals from the 175 App Stores it operates worldwide. As Apple is about to publish its latest report, covering the period of January - June 2021, AppleCensorship revisits the main findings of its report and the discrepancies between the figures communicated by Apple and the reality of the App Store, uncovered by the App Store Monitor (ASM). 
                </article>
                <article>
                    <h2 class="text-uppercase pb-3">Contents</h2>
                    {{ range .Site.RegularPages }}
                    <a class="toc-header d-block" href="{{ .RelPermalink }}">{{ .Title }}</a>
                    {{ end }}
                </article>
            </div>
        </div>
    </div>
</main>
{{ end }}